
 
 *{
	margin: 0px;
	padding: 0px;
	}     

body{
	text-align:center;
	}


	
#container{
			border:1px solid black;
			width: 1000px;
			margin: 20px auto;
			}


#top_header {background:red;
			
			padding:10px;
 
			}


#top_menu {background:orange;
			
			padding:5px;
			}

#top_menu li {display:inline;
				padding:10px;
				font-family:Tahoma, Geneva, sans-serif;
				font-size:16px; 
				font-weight:bold;
				color:white;
				}
				
section {background:green;
		float:left;
		width:800px;}

article{border:1px solid black;
		 margin:20px;
		 padding:10px;
 		background:yellow;
		}
		
article footer{
				text-align:right;
				font-size:14px;
				font-weight:bold;
				padding-top:10px;
				}
				


#side_news { padding-top:20px; 
			background:green;
			height:308px;
			 }

#side_news h2 { 
				color:yellow;
				}

#side_news p { 
			color:white;
			 } 
			 


#the_footer {
			color:white;
			background:blue;
			border-top:5px solid orange;
			}