#container {
	width:1000px;
	height:1500px;
	background:green;
	margin:auto;
	}
#inner {
	position:fixed;
	top:200px;
	left:200px;
	font-size:24px;
	background:red;
	z-index:1
	}
#helloWorld {
	height:200px;
	background:yellow;
	text-align:center;
	}
#innerfooter {
	position:relative;
	top:10px;
	background:blue;
	font-size:24px;
	color:white;
	}